
.hero{
    width:100%;
    min-height: 100vh;
    background:linear-gradient(rgba(8,0,58,0.7)), url('../../assets/hero_2.jpeg');
    background-size: cover;
    background-position: center;
    color: fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    color: #fff;
    text-align: center;
}
.hero-text h1{
    font-size: 55px;
    margin: 65px 54px 0px 54px;
    line-height: 70px;
    font-weight: 500;
}
.hero-text p{
    font-size: 18px;
    margin: 16px 145px 8px 145px;;
    line-height: 1.5;
}
.hero-text button{
    margin: 20px 0px 0px 0px;
}
/*--------------------- media query -------------------*/
@media(max-width:1000px){
    .hero-text h1{
        font-size: 39px;
        margin: 50px 40px 0px 40px;
        line-height: 60px;
    }
    .hero-text p{
        font-size: 16px;
        margin: 18px 120px 8px 120px;
        line-height: 1.4;
    }
}
@media(max-width:800px){
    .hero-text h1{
        font-size: 39px;
        margin: 45px 30px 0px 30px;
        line-height: 55px;
    }
    .hero-text p{
        font-size: 16px;
        margin: 18px 90px 6px 90px;
        line-height: 1.5;
    }
}
@media(max-width:540px){
    .hero-text h1{
        font-size: 35px;
        margin: 45px 17px 0px 17px;
        line-height: 52px;
    }
    .hero-text p{
        font-size: 16px;
        margin: 18px 45px 6px 45px;
        line-height: 1.5;
    }
}
@media(max-width:425px){
    .hero-text h1 {
        font-size: 26px;
        margin: 45px 0px 3px 0px;
        line-height: 32px;
    }
    .hero-text p{
        font-size: 16px;
        margin: 20px 5px 6px 5px;
        line-height: 1.5;
    }
}