.title{
    text-align: center;
    margin: 70px 0px 20px ;
}
.title h1{
    font-size: 16px;
    font-weight: 600;
    color: #212ea5;
}
.title p{
    color: #000f38;
    font-size: 35px;
    margin-top: 5px;
}
@media (max-width:1000px){
    .title{
        margin: 50px 0px 35px ;
    }
    .title h1{
        font-size: 15px;
    }
    .title p{
        font-size: 34px;
    }
}
@media (max-width:800px){
    .title{
        margin: 40px 0px 27px ;
    }
    .title h1{
        font-size: 15px;
    }
    .title p{
        font-size: 32px;
    }
}
@media (max-width:425px){
    .title{
        margin: 30px 0px 20px ;
    }
    .title h1{
        font-size: 14px;
    }
    .title p{
        font-size: 30px;
    }
}