.Programs{
    background-color: #f5f5f5;
}
.title{
    text-align: center;
    margin: 70px 0px ;
}
.title h1{
    font-size: 16px;
    font-weight: 600;
    color: #212ea5;
}
.title h2{
    color: #000f38;
    font-size: 35px;
    margin-top: 5px;
}
.courses{
    display: flex;
    width: 100%;
    justify-content: space-around
}
.Program{
    flex-basis: 31%;
    position: relative;
    cursor:pointer;
}
.course{
    width: 100%;
    border-radius: 26px;
    object-fit: cover;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.caption{
    border-radius: 26px;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background:rgba(0,15,152,0.3);
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
}
.caption p{
    font-size: 30px;
    font-weight: 700;
    background-color:rgba(1, 12, 112, 0.3);
    padding:10px;
    border-radius: 15px;
    text-align: center;
}
.Program:hover .caption{
    opacity: 1;
}
/*--------------- media query-----------*/
@media(max-width:1000px){
    .title{
        margin: 60px 0px ;
    }
    .title h1{
        font-size: 15px;
    }
    .title h2{
        font-size: 33px;
        margin-top: 5px;
    }
    
}
@media(max-width:840px){
    .courses{
        flex-wrap: wrap;
    }
    .Program{
        flex-basis: 45%;
        margin-top: 15px;
        
    }
}
@media(max-width:540px){
    .Program{
        flex-basis: 80%;
        margin-top: 15px; 
    }
    .title{
        margin: 50px 0px ;
    }
    .title h1{
        font-size: 14px;
    }
    .title h2{
        font-size: 30px;
        margin-top: 5px;
    }
}
@media(max-width:400px){
    .Program{
        flex-basis: 90%;
        margin-top: 15px; 
    }
    .title{
        margin: 30px 0px ;
    }
    .title h1{
        font-size: 13px;
    }
    .title h2{
        font-size: 27px;
        margin-top: 5px;
    }
}